<div *ngIf="section">
  <div class="container-fluid p-0">
    <div class="card">
      <h2 class="card-header">
        <bh-section-detail-header [section]="section"
                                  (onEditSection)="openSectionForm()"
                                  (onAddGroup)="openGroupForm()"
                                  (onDeleteSection)="openDeleteSectionForm()">
        </bh-section-detail-header>
      </h2>
      <div class="card-body">
        <div class="row justify-content-start">
          <div class="col-md-3 col-sm-12 gy-1 gx-1" *ngFor="let group of section?.groups">
            <bh-group-detail [group]="group"></bh-group-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
  <bh-section-form #sectionForm
                   [sectionToEdit]="section">
  </bh-section-form>
  <bh-group-form #groupForm>
  </bh-group-form>
  <bh-section-delete #deleteSectionForm
                     [sectionUuid]="section.uuid">
  </bh-section-delete>
</div>
