<div class="modal fade" data-bs-backdrop="static" [id]="modalId()" tabindex="-1" (hidden.bs.modal)="onHidden()">
  <button #openAddSectionModalBtn
          class="visually-hidden"
          data-bs-toggle="modal"
          [attr.data-bs-target]="'#'+modalId()">
  </button>
  <div class="modal-dialog">
    <div class="modal-content">
      <form #addNewSectionForm="ngForm" (ngSubmit)="onSubmit()" class="was-validated">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new section</h5>
        </div>
        <div class="modal-body">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="title"
                   required maxlength="40"
                   placeholder="new section title"
                   [(ngModel)]="newSection.title"
                   [disabled]="isLoading">
            <div class="invalid-feedback">Please fill out this field.</div>
            <label for="floatingInput">New section title</label>
          </div>
          <div *ngIf="unknownErrorOccurred" class="alert alert-danger" role="alert">
            An unknown error occurred. Please try again.
          </div>
        </div>
        <div class="modal-footer">
          <button #closeBtn type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="dismiss()"
                  [disabled]="isLoading">
            Close
          </button>
          <button *ngIf="!isLoading" type="submit" class="btn btn-success" [disabled]="addNewSectionForm.invalid">
            Submit
          </button>
          <button *ngIf="isLoading" class="btn btn-success" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
