<div *ngIf="section">
  <div class="container-fluid p-0">
    <div class="card">
      <h2 class="card-header">
        <bh-section-detail-header [section]="section"
                                  (onEditSection)="openSectionForm()"
                                  (onAddGroup)="openGroupForm()">
        </bh-section-detail-header>
      </h2>
      <div class="card-body">
        <div class="row justify-content-start">
          <div class="col-md-3 col-sm-12 gy-1 gx-1" *ngFor="let group of section?.groups">
            <bh-group [group]="group"></bh-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <bh-section-form [sectionToEdit]="section"
                   (closed)="sectionFormClosed()"
                   [isOpen]="isEditSectionOpen">
  </bh-section-form>
</div>
